.container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.themeButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: .2rem .6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}