.container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
}

.themeText {
  color: azure;
}

.darkThemeButton,
.lightThemeButton {
  padding: .25rem 1rem;
  color: azure;
  background-color: transparent;
  border: 1px solid #FEFEFE;
  border-radius: .2rem;
  cursor: pointer;
  transition: .2s all;
}

.darkThemeButton:hover {
  background-color: #111;
}

.lightThemeButton:hover {
  background-color: #959595a3;
}