.container {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.themeButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: .2rem .6rem;
  border-radius: .35rem;
  border: none;
  cursor: pointer;
}

.container h1 {
  margin: 0;
  padding: 0;
}